<form style="background-color: #fff; padding: 40px; border-radius: 4px; margin: 80px 0;" method="POST" action="/centroCustos/add"> 
    <h2>Adicionar novo centro de custos</h2>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome">
    </div>
    <div class="form-group">
      <label for="descricao">Descricao</label>
      <input type="descricao" class="form-control" id="descricao" name="descricao">
    </div>
    
    <button type="submit" class="btn btn-primary" id="Editar">Adicionar</button>
  </form>