<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright"> &copy 2022 Desenvolvido por
                    <a href="#https://github.com/GabrielChagas1"> Gabriel Chagas</a> Diário do Trader Dashboard
                </p>
            </div>
        </div>
    </div>
</footer>