 <!-- Sidebar  -->
 <nav id="sidebar">
    <div class="sidebar-header">
        <h3><img src="/img/logo.png" class="img-fluid" /><span>Painel do Trader</span></h3>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
        </li>

        <li class="dropdown">
            <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">person</i><span>Usuários</span></a>
            <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                <li>
                    <a href="/usuarios">Listagem</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">shopping_cart</i><span>Departamentos</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu2">
                <li>
                    <a href="/departamentos">Listagem</a>
                </li>
            </ul>
        </li>

        
        <li class="dropdown">
            <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">attach_money</i><span>Centro de Custos</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu4">
                <li>
                    <a href="/centroCustos">Listagem</a>
                </li>
            </ul>
        </li>

    </ul>


</nav>